In [1]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (0.3.13)
Requirement already satisfied: packaging in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (4.64.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (2022.9.24)
Requirement already satisfied: colorama in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from tqdm->kagglehub) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -treamlit (c:\users\asus\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\asus\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\asus\appdata\local\programs\python\python310\lib\site-packages)

In [2]:
import kagglehub

In [4]:
# Download latest version
path = kagglehub.dataset_download("najir0123/walmart-10k-sales-datasets")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/najir0123/walmart-10k-sales-datasets?dataset_version_number=1...

100%|████████████████████████████████████████████████████████████████████████████████| 143k/143k [00:00<00:00, 172kB/s]

Extracting files...
Path to dataset files: C:\Users\Asus\.cache\kagglehub\datasets\najir0123\walmart-10k-sales-datasets\versions\1

In [3]:
import pandas as pd

In [46]:
df=pd.read_csv(r'C:/Users/Asus/.cache/kagglehub/datasets/najir0123/walmart-10k-sales-datasets/versions/1/Walmart.csv',encoding_errors='ignore')

In [47]:
df.shape

(10051, 11)

In [48]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [49]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [51]:
df.duplicated().sum()

51

In [52]:
df.drop_duplicates(inplace=True)

In [53]:
df.duplicated().sum()

0

In [54]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [55]:
df.dropna(inplace=True)

In [56]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [57]:
df.shape

(9969, 11)

In [58]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [59]:
df['unit_price'].astype(float)

ValueError: could not convert string to float: '$74.69'

In [61]:

df['unit_price']=df['unit_price'].str.replace('$','').astype(float)

In [62]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [64]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [65]:
df['Total']=df['unit_price']* df['quantity']

In [66]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [67]:
pip install sqlalchemy pyodbc

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.43-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp310-cp310-win_amd64.whl.metadata (2.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp310-cp310-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.43-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 2.1/2.1 MB 16.9 MB/s  0:00:00
Downloading pyodbc-5.2.0-cp310-cp310-win_amd64.whl (68 kB)
Downloading greenlet-3.2.4-cp310-cp310-win_amd64.whl (298 kB)
Installing collected packages: pyodbc, greenlet, sqlalchemy

Successfully installed greenlet-3.2.4 pyodbc-5.2.0 sqlalchemy-2.0.43
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -treamlit (c:\users\asus\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\asus\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\asus\appdata\local\programs\python\python310\lib\site-packages)

In [83]:
from sqlalchemy import create_engine

In [84]:
df = pd.DataFrame(df)

In [70]:
engine = create_engine("mssql+pyodbc://@YourServerName/YourDatabase?driver=ODBC+Driver+17+for+SQL+Server")
df.to_sql("your_table_name", con=engine, if_exists="replace", index=False)

print("Data inserted successfully ✅")

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [85]:
username = "root"         # Your MySQL username
password = "1401" # Your MySQL password
host = "localhost"        # or "127.0.0.1"
port = "3306"             # Default MySQL port
database = "walmart"      # Database you created in Workbench

In [86]:
import pymysql
import cryptography

In [87]:
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [88]:
df.to_sql("walmart_table", con=engine, if_exists="replace", index=False)

9969